<h1><%= @oppty.opptyName%></h1>
<h2>Assigned Writers</h2>
<%@assigned_writers.each do |w|%>
    <h3><%=w.user.name%></h3>
<%end%>
<h2>Not Assigned Writers</h2>
<%@not_assigned_writers.each do |w|%>
    <h3><%=w.name%></h3>
    <form method="post" action= "assignUser" >
      <input name="oppty_id" type="hidden" value="<%= @oppty.id%>">
      <input name="user_id" type="hidden" value="<%= w.id%>">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <button class="btn btn-lg btn-primary btn-right" type="submit">Add</button>
    </form>
<%end%>