<html>
<body>
	<div class="jumbotron container">
		<h2 class="assign_name"><%= @oppty.opptyName%></h2>
		
		<%= form_tag assign_index_path, :method => 'get' do %>
			<p style="padding:0px !important;">
				<%= hidden_field_tag :opptyId, @oppty.id %>
				<%= text_field_tag :search, params[:search] %>
				<input id="search-button" class="btn-assign-search" type="image" src="/assets/search.png" alt="Submit_tag"> 
			</p> 
		<% end %>

		<div class="col-md-6">
			<h4>Not Assigned Writers</h4>
			<div class="outer-not-assigned-row" id="outer-not-assigned-row">
				<%@not_assigned_writers.each do |w|%>
					<div class="col-md-12 not-assigned-row" id=<%=w.id%>>
						<div id= "username" class="col-md-6 row-item">
					    	<p class="writer-name"><%=w.name%></p>
						</div>
						<div id="button" class="col-md-6 row-item">
                          <img class="plus" onclick="assign(<%= @oppty.id%>, <%= w.id%>)" src="/assets/plus_btn.png" alt="+" border="0"/>
						</div>
					</div>
				<%end%>
			</div>
		</div>

		<div class="col-md-6">
			<h4>Assigned Writers</h4>
			<div class="outer-assigned-row" id="outer-assigned-row">
				<%@assigned_writers.each do |w|%>
					<div class="col-md-12 assigned-row" id=<%=w.user.id%>>
						<div id= "username" class="col-md-6 row-item">
				    		<p class="writer-name"><%=w.user.name%></p>
						</div>
						<div class="col-md-6 row-item">
                          <img class="redx" onclick="unassign(<%= @oppty.id%>, <%= w.user.id%>)" src="/assets/redx.png" alt="+" border="0"/>
						</div>
					</div>
				<%end%>
			</div>
		</div>
	</div>

	<%= javascript_include_tag('jquery.slimscroll.min.js') %>


</body>


</html>