<ul class="nav">
    <li id="<%= @current_task.id %>">
      <br>
      <img class="btn-x" onclick="confirmDeleteUser(<%= @current_task.id %>)" src="/assets/redx.png" alt="X" border="0"/>
      <div class="task-bg">
        <h5 class="text-edit"><b><%= link_to @current_task.oppty.opptyName,
                                                                 @current_task.oppty%></b></h5>
        <%= if (@current_task.oppty.proposalDueDate-Date.today).to_i < 0 %>
        	<p> Past Due (<%= (@current_task.oppty.proposalDueDate-Date.today).to_i %> days ago)</p>
        <%= elsif (@current_task.oppty.proposalDueDate-Date.today).to_i < 0%>
        	<p> Due Today </p>
        <%= else %>
        	<p> Due in (<%= (@current_task.oppty.proposalDueDate-Date.today).to_i %> days </p>
        <% end %>	
      </div>
    </li>
 </ul>
