<html lang="en">
  <head>
    <title>Tasks</title>

  </head>

  <body>

          <div class="layer tile" data-force="30">
            <div class="tile__name">Assigned</div>
            <div class="tile__list" id="list1">
              <% @assigned.each do |o|%>
                <% @current_task=o %>
                <%= render partial: "writer_task" %>
              <% end %>
            </div>
          </div>
          <div class="layer tile" data-force="30">
            <div class="tile__name">To Do</div>
            <div class="tile__list" id="list2">
                <% @to_do.each do |o|%>
                    <% @current_task=o %>
                    <%= render partial: "writer_task" %>
                 <% end %>
            </div>
          </div>


          <div class="layer tile" data-force="30">
            <div class="tile__name">Doing</div>
            <div class="tile__list" id="list3">
             <% @doing.each do |o|%>
               <% @current_task=o %>
               <%= render partial: "writer_task" %>
             <% end %>
            </div>
          </div>

          <div class="layer tile" data-force="30">
            <div class="tile__name">Done</div>
            <div class="tile__list" id="list4">
             <% @done.each do |o|%>
               <% @current_task=o %>
               <%= render partial: "writer_task" %>
             <% end %>
            </div>
          </div>
<style>
  #div1, #div2, #div3 {backgorund:transparent;border:2px dashed black;height:75px;width:292px;}
</style>

<%= javascript_include_tag 'updateStatus' %>


  </body>
</html>
