<body>
  <!--div class="page-wrapper"-->	
	<div class="col-md-6 column-wrapper">
	  <div class="inner-column">
		<h2 class="column-title">Upload</h2>
		<form id="upload" method="post" action="upload" enctype="multipart/form-data">
		  <div id="drop" class="drop-zone">
		    <p class="drop-zone-text"><b>Browse</b> or <b>Drop Anywhere Inside of this Box</b> </p>
		    <br>
		    <input type="file" id="upl" name="upl" class="file-input"/>
		    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <form id="upload" method="post" action="updateCRM" enctype="multipart/form-data">
               <input type="submit">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            </form>
		  </div>

		  <ul class="upload-list">
		    <!-- The file uploads will be shown here -->
		  </ul>

		</form>
	  </div>	
	</div>

	<div class="col-md-6 column-wrapper">
	  <div class="inner-column">
		<h2 class="column-title">Download</h2>
		<form id="download" method="get" action="download" enctype="multipart/form-data">
		  <button class="btn btn-lg btn-primary btn-left" type="submit">Download
		  	<span class="glyphicon glyphicon-download"></span></button>
		</form>
	  </div>
	</div>
  <!--/div-->

  <!-- JavaScript Includes -->
  <%= javascript_include_tag('jquery.knob.js') %>
  <%= javascript_include_tag('jquery.ui.widget.js') %>
  <%= javascript_include_tag('jquery.iframe-transport.js') %>
  <%= javascript_include_tag('jquery.fileupload.js') %>
  <%= javascript_include_tag('upload.js') %>
<body>

