<form id="upload" method="post" action="upload" enctype="multipart/form-data">
  <div id="drop">
    Drop Here

    <a>Browse</a>
    <input type="file" id="upl" name="upl" multiple />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  </div>

  <ul>
    <!-- The file uploads will be shown here -->
  </ul>

</form>

<%= link_to "Download New CRM Data", "download" %>

<!-- JavaScript Includes -->
<%= javascript_include_tag('jquery.knob.js') %>
<%= javascript_include_tag('jquery.ui.widget.js') %>
<%= javascript_include_tag('jquery.iframe-transport.js') %>
<%= javascript_include_tag('jquery.fileupload.js') %>
<%= javascript_include_tag('upload.js') %>
