<body>
  <!--div class="page-wrapper"-->
	<div class="col-md-6 column-wrapper">
	  <div class="inner-column">
		<h2 class="column-title">Upload</h2>
		<form id="upload" method="post" action="checkDate" enctype="multipart/form-data">
		    <input type="file" id="upl" name="upl" class="file-input"/>
		    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <button class="btn btn-lg btn-primary btn-right" type="submit">Upload</button>
		</form>
	  </div>
      <%if @oldOrNew.present?%>
          <h4>Your File is <%=@oldOrNew%><h4/>
            <form action ="upload" method="post">
              <input hidden=true type="string" name="oldFileName" value=<%= @oldFileName%>>
              <input hidden=true type="string" name="newFileName" value=<%= @newFileName%>>
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <button style= "z-index:3" type="submit">Calculate Changes</button>
            </form>
      <% end%>
      <%if @uploaded%>
          <h4>Number of Added: <%=@added%><h4/>
          <h4>Number of Deleted: <%=@deleted%><h4/>
          <h4>Number of Updates:<%=@changes.length.to_s%><h4/>
            <form action ="updateCRM" method="post">
              <input hidden=true type="string" name="old" value=<%= @oldFileName%>>
              <input hidden=true type="string" name="new" value=<%= @newFileName%>>
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <button style= "z-index:3" type="submit">Submit</button>
            </form>
      <%end%>
    </div>

	<div class="col-md-6 column-wrapper">
	  <div class="inner-column">
		<h2 class="column-title">Download</h2>
		<form id="download" method="get" action="download" enctype="multipart/form-data">
		  <button class="btn btn-lg btn-primary btn-left" type="submit">Download
		  	<span class="glyphicon glyphicon-download"></span></button>
		</form>
	  </div>
	</div>
  <!--/div-->

  <!-- JavaScript Includes -->
  <%= javascript_include_tag('jquery.knob.js') %>
  <%= javascript_include_tag('jquery.ui.widget.js') %>
  <%= javascript_include_tag('jquery.iframe-transport.js') %>
  <%= javascript_include_tag('jquery.fileupload.js') %>
  <%= javascript_include_tag('upload.js') %>

  <script>
      function isOld(status) {
          if(status=='old')
            alert("Are you sure you want to overwrite with an older file?");
      }
  	/* creates style rule programmatically after AmCharts logo exists */
    function createClass(name,rules){
        var style = document.createElement('style');
        style.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(style);
        if(!(style.sheet||{}).insertRule)
            (style.styleSheet || style.sheet).addRule(name, rules);
        else
            style.sheet.insertRule(name+"{"+rules+"}",0);
    }

    // ('html body div div #upload #drop input#upl.file-input #shadow-root input',"visibility: hidden !important;");
  </script>
<body>
