<html lang="en">
<div class="jumbotron allocated-task-bg">
	<div class="textCenter">
		<h2 class="title-banner">Allocated Tasks</h2>

</div>

<body>
<div class="container tasks-queue">
  <!-- Example row of columns -->
	<div class="row">
        <div class="col-md-3 op-title-bg-left">
            <h2 class="op-title-col">Assigned</h2>
        </div>
    	<div class="col-md-3 op-title-bg-left">
    		<h2 class="op-title-col">To Do</h2>
    	</div>
	    <div class="col-md-3 op-title-bg-middle">
    		<h2 class="op-title-col">In Progress</h2>
    	</div> 
    	<div class="col-md-3 op-title-bg-right">
    		<h2 class="op-title-col">Done</h2>
    	</div>
    	<div class="textColor">
            <!-- Formatting hack -->
    		<div class="row-2">
                <div class="col-md-3 op-body-bg-col-label" style="min-height: 0px !important;">
                </div>
    			<div class="col-md-3 op-body-bg-col-label" style="min-height: 0px !important;">
    			</div>
     			<div class="col-md-3 op-body-bg-col-label" style="min-height: 0px !important;">
     			</div>
    			<div class="col-md-3 op-body-bg-col-label" style="min-height: 0px !important;">
    			</div>
    		</div>
		</div>
        <div class="col-md-3 op-body-bg-col-label" id="navigation">
            <%@name_dict.each do |id, name|%>
                <% count = 0 %>
                <%if @assigned_writer_dict[id].present? %>
                    <% @assigned_writer_dict[id].each do |o|%>
                        <% count += 1 %>
                    <%end%>
                <%end%>
                <ul>
                    <li>
                        <a class="col-md-12" href="#" onclick="swap('<%= name %>'+'assigned');return false;"> 
                            <p class="col-md-8 writer-label"><%= name %></p>
                            <p class="col-md-4 writer-label"><%= count.to_s + " tasks"%></p>
                        </a>
                        <%if @assigned_writer_dict[id].present?%>
                            <ul id="<%= name + 'assigned' %>" style="display: none;">
                                <% @assigned_writer_dict[id].each do |o|%>
                                    <li><div><%= link_to o.oppty.opptyName, o.oppty%></div></li>
                                <%end%>
                            </ul>
                        <%end%>
                    </li>
                </ul>
            <%end%>
        </div>
        <div class="col-md-3 op-body-bg-col-label" id="navigation">
            <%@name_dict.each do |id, name|%>
                <% count = 0 %>
                <%if @todo_writer_dict[id].present? %>
                    <% @todo_writer_dict[id].each do |o|%>
                        <% count += 1 %>
                    <% end %>
                <% end %>
                <ul>
                    <li>
                        <a class="col-md-12" href="#" onclick="swap('<%= name %>'+'todo');return false;">
                            <p class="col-md-8 writer-label"><%= name %> </p>
                            <p class="col-md-4 writer-label"><%= count.to_s + " tasks"%></p>
                        </a>
                        <%if @todo_writer_dict[id].present? %>
                            <ul id="<%= name + 'todo' %>" style="display: none;">
                                <% @todo_writer_dict[id].each do |o|%>
                                    <% if o.oppty.present?%>
                                        <li><div><%= link_to o.oppty.opptyName, o.oppty%></div></li>
                                    <% end %>
                                <%end%>
                            </ul>
                        <%end%>
                    </li>
                </ul>
            <%end%>
        </div>
        <div class="col-md-3 op-body-bg-col-label" id="navigation">
            <%@name_dict.each do |id, name|%>
                <% count = 0 %>
                <%if @doing_writer_dict[id].present?%>
                    <% @doing_writer_dict[id].each do |o|%>
                        <% count += 1 %>
                    <% end %>
                <% end %>
                <ul>
                    <li>
                        <a class="col-md-12" href="#" onclick="swap('<%= name %>'+'doing');return false;">
                            <p class="col-md-8 writer-label"><%= name %> </p>
                            <p class="col-md-4 writer-label"><%= count.to_s + " tasks"%></p>
                        </a>
                        <%if @doing_writer_dict[id].present?%>
                            <ul id="<%= name + 'doing'%>" style="display: none;">
                                <% @doing_writer_dict[id].each do |o|%>
                                    <li><div><%= link_to o.oppty.opptyName, o.oppty%></div></li>
                                <%end%>
                            </ul>
                        <%end%>
                    </li>
                </ul>
            <%end%>
        </div>
        <div class="col-md-3 op-body-bg-col-label" id="navigation">
            <%@name_dict.each do |id, name|%>
                <% count = 0 %>
                <%if @done_writer_dict[id].present?%>
                    <% @done_writer_dict[id].each do |o|%>
                        <% count += 1 %>
                    <% end %>
                <% end %>
                <ul>
                    <li>
                        <a class="col-md-12" href="#" onclick="swap('<%= name %>'+'done');return false;">
                            <p class="col-md-8 writer-label"><%= name %> </p>
                            <p class="col-md-4 writer-label"><%= count.to_s + " tasks"%></p>
                        </a>
                        <%if @done_writer_dict[id].present?%>
                            <ul id="<%= name + 'done'%>" style="display: none;">
                                <% @done_writer_dict[id].each do |o|%>
                                    <li><div><%= link_to o.oppty.opptyName, o.oppty%></div></li>
                                <%end%>
                            </ul>
                        <%end%>
                    </li>
                </ul>
            <%end%>
        </div>
	</div>
</div>




<script type="text/javascript">
function swap(targetId){
  if (document.getElementById){
    target = document.getElementById(targetId);
    if (target.style.display == "none"){
        target.style.display = "";
    } else{
        target.style.display = "none";
    }        
  }
}

</script>

<style type="text/css" media="Screen">
#navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#navigation a {
  text-decoration: none;
  display: block;
  padding: 3px 12px 3px 8px;
  background-color: #005DA0;
  color: white;
  border: 1px solid #ddd;
}
#navigation a:active {
  padding: 2px 13px 4px 7px;
  color: white;
  border: 1px solid #333;
}

#navigation li li a {
  text-decoration: none;
  padding: 3px 3px 3px 17px;
  background-color: #999;
  color: #111111;
}
#navigation li li a:active {
  padding: 2px 4px 4px 16px;
}

#navigation li li a:link {
    color: #0000FF;
    background-color: transparent !important;
}

#navigation li li a:visited {
    color: #663366 !important;
}

#navigation li li a:hover {
    text-decoration: underline;
}

</style>

</body>

</div>
</html>
