<html lang="en">
<div class="jumbotron allocated-task-bg">
	<div class="textCenter">
		<h2 class="title-banner">Allocated Tasks</h2>

</div>

<body>
<div class="container tasks-queue">
  <!-- Example row of columns -->
	<div class="row">
        <div class="col-md-3 op-title-bg-left">
            <h2 class="op-title-col">Assigned</h2>
        </div>
    	<div class="col-md-3 op-title-bg-left">
    		<h2 class="op-title-col">TODO</h2>
    	</div>
	    <div class="col-md-3 op-title-bg-middle">
    		<h2 class="op-title-col">In Progress</h2>
    	</div> 
    	<div class="col-md-3 op-title-bg-right">
    		<h2 class="op-title-col">Done</h2>
    	</div>
    	<div class="textColor">
    		<div class="row-2">
                <div class="col-md-3 op-body-bg-left">
                </div>
    			<div class="col-md-3 op-body-bg-left">
    			</div>
     			<div class="col-md-3 op-body-bg-middle">
     			</div>
    			<div class="col-md-3 op-body-bg-right">
    			</div>
    		</div>
		</div>
      <div class="col-md-3 op-body-bg-left text-edit">
        <%@name_dict.each do |id, name|%>
            <h4><%= name+': '%></h4>
            <%if @assigned_writer_dict[id].present?%>
                <% @assigned_writer_dict[id].each do |o|%>
                    <h3><%= link_to o.oppty.opptyName, o.oppty%></h3>
                    <br>
                <%end%>
            <%end%>
        <%end%>
      </div>
      <div class="col-md-3 op-body-bg-left text-edit">
        <%@name_dict.each do |id, name|%>
            <h4><%= name+': '%></h4>
            <%if @todo_writer_dict[id].present?%>
                <% @todo_writer_dict[id].each do |o|%>
                    <% if o.oppty.present?%>
                        <h3><%= link_to o.oppty.opptyName, o.oppty%></h3>
                        <br>
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
      </div>
      <div class="col-md-3 op-body-bg-middle text-edit">
        <%@name_dict.each do |id, name|%>
            <h4><%= name+': '%></h4>
            <%if @doing_writer_dict[id].present?%>
                <% @doing_writer_dict[id].each do |o|%>
                    <h3><%= link_to o.oppty.opptyName, o.oppty%></h3>
                    <br>
                <%end%>
            <%end%>
        <%end%>
      </div>
      <div class="col-md-3 op-body-bg-right text-edit">
        <%@name_dict.each do |id, name|%>
            <h4><%= name+': '%></h4>
            <%if @done_writer_dict[id].present?%>
                <% @done_writer_dict[id].each do |o|%>
                    <h3><%= link_to o.oppty.opptyName, o.oppty%></h3>
                    <br>
                <%end%>
            <%end%>
        <%end%>
      </div>
	</div>
</div>

</body>

</div>
</html>
