<html lang="en">

<body>
<div class="jumbotron allocated-task-bg" style="border-radius: 5px !important;">
	<div class="textCenter" style="border-radius: 5px !important;">
		<h2 class="title-banner" style="border-top-left-radius: 5px !important; border-top-right-radius: 5px !important;">Allocated Tasks</h2>

    </div>

<div class="container tasks-queue">
  <!-- Example row of columns -->
	<div class="row">
        <div class="col-md-3 op-title-bg-left">
            <h2 class="op-title-col">Assigned</h2>
        </div>
    	<div class="col-md-3 op-title-bg-left">
    		<h2 class="op-title-col">To Do</h2>
    	</div>
	    <div class="col-md-3 op-title-bg-middle">
    		<h2 class="op-title-col">In Progress</h2>
    	</div> 
    	<div class="col-md-3 op-title-bg-right">
    		<h2 class="op-title-col">Done</h2>
    	</div>
    	<div class="textColor">
            <!-- Formatting hack -->
    		<div class="row-2">
                <div class="col-md-3 op-body-bg-col-label" style="min-height: 0px !important;">
                </div>
    			<div class="col-md-3 op-body-bg-col-label" style="min-height: 0px !important;">
    			</div>
     			<div class="col-md-3 op-body-bg-col-label" style="min-height: 0px !important;">
     			</div>
    			<div class="col-md-3 op-body-bg-col-label" style="min-height: 0px !important;">
    			</div>
    		</div>
		</div>
        <div class="col-md-3 op-body-bg-col-label" id="navigation">
            <%@name_dict.each do |id, name|%>
                <% count = 0 %>
                <%if @assigned_writer_dict[id].present? %>
                    <% @assigned_writer_dict[id].each do |o|%>
                        <% count += 1 %>
                    <%end%>
                <%end%>
                <ul>
                    <li>
                        <a id="<%= 'colorBlock' + 'name' + 'assigned'%>" class="col-md-12" href="#" onclick="swap('<%= name %>'+'assigned');return false;"> 
                            <p class="col-md-8 writer-label"><%= name %></p>
                            <p id="<%= name.delete(' ') + 'ajax' + 'assigned'%>" class="col-md-4 writer-label"><%= count.to_s + " tasks"%></p>
                        </a>
                        <%if @assigned_writer_dict[id].present?%>
                            <ul id="<%= name + 'assigned' %>" style="display: none;">
                                <% @assigned_writer_dict[id].each do |o|%>
                                  <%if o.oppty.present?%>
                                    <li id="<%= o.id%>" class="col-md-12">
                                        <h5 class="col-md-11"><%= link_to o.oppty.opptyName, o.oppty%></h5>
                                        <img id="delete-btn-manager" class="btn-x-manager" onclick="confirmDeleteManager(<%= o.id %>, <%= name.delete(' ') + 'ajax' + 'assigned'%>, 0)" src="/assets/redx.png" alt="X" border="0"/>
                                    </li>
                                  <%end%>
                                <%end%>
                            </ul>
                        <%end%>
                    </li>
                </ul>
                <!-- update the color of writer block depending upon the number of tasks for a specific writer -->
                <script> 
                    changeTasksColor(<%=count%>, "<%= name.delete(' ') + 'ajax' + 'assigned' %>")
                </script>
            <%end%>
        </div>
        <div class="col-md-3 op-body-bg-col-label" id="navigation">
            <%@name_dict.each do |id, name|%>
                <% count = 0 %>
                <%if @todo_writer_dict[id].present? %>
                    <% @todo_writer_dict[id].each do |o|%>
                        <% count += 1 %>
                    <% end %>
                <% end %>
                <ul>
                    <li>
                        <a class="col-md-12" href="#" onclick="swap('<%= name %>'+'todo');return false;">
                            <p class="col-md-8 writer-label"><%= name %> </p>
                            <p id="<%= name.delete(' ') + 'ajax' + 'todo' %>" class="col-md-4 writer-label"><%= count.to_s + " tasks"%></p>
                        </a>
                        <%if @todo_writer_dict[id].present? %>
                            <ul id="<%= name + 'todo' %>" style="display: none;">
                                <% @todo_writer_dict[id].each do |o|%>
                                    <% if o.oppty.present?%>
                                        <li id="<%= o.id%>" class="col-md-12">
                                            <h5 class="col-md-11"><%= link_to o.oppty.opptyName, o.oppty%></h5>
                                            <img id="delete-btn-manager-1" class="btn-x-manager" onclick="confirmDeleteManager(<%= o.id %>, <%= name.delete(' ') + 'ajax' + 'todo'%>, 1)" src="/assets/redx.png" alt="X" border="0"/>
                                        </li>
                                    <% end %>
                                <%end%>
                            </ul>
                        <%end%>
                    </li>
                </ul>
                <!-- update the color of writer block depending upon the number of tasks for a specific writer -->
                <script> changeTasksColor(<%=count%>, "<%= name.delete(' ') + 'ajax' + 'todo' %>") </script>
            <%end%>
        </div>
        <div class="col-md-3 op-body-bg-col-label" id="navigation">
            <%@name_dict.each do |id, name|%>
                <% count = 0 %>
                <%if @doing_writer_dict[id].present?%>
                    <% @doing_writer_dict[id].each do |o|%>
                        <% count += 1 %>
                    <% end %>
                <% end %>
                <ul>
                    <li>
                        <a class="col-md-12" href="#" onclick="swap('<%= name %>'+'doing');return false;">
                            <p class="col-md-8 writer-label"><%= name %> </p>
                            <p id="<%= name.delete(' ') + 'ajax' + 'doing'%>" class="col-md-4 writer-label"><%= count.to_s + " tasks"%></p>
                        </a>
                        <%if @doing_writer_dict[id].present?%>
                            <ul id="<%= name + 'doing'%>" style="display: none;">
                                <% @doing_writer_dict[id].each do |o|%>
                                  <%if o.oppty.present?%>
                                    <li id="<%= o.id%>" class="col-md-12">
                                        <h5 class="col-md-11"><%= link_to o.oppty.opptyName, o.oppty%></h5>
                                        <img id="delete-btn-manager-2" class="btn-x-manager" onclick="confirmDeleteManager(<%= o.id %>, <%= name.delete(' ') + 'ajax' + 'doing'%>, 2)" src="/assets/redx.png" alt="X" border="0"/>
                                    </li>
                                  <%end%>
                                <%end%>
                            </ul>
                        <%end%>
                    </li>
                </ul>
                <!-- update the color of writer block depending upon the number of tasks for a specific writer -->
                <script> changeTasksColor(<%=count%>, "<%= name.delete(' ') + 'ajax' + 'doing' %>") </script>
            <%end%>
        </div>
        <div class="col-md-3 op-body-bg-col-label" id="navigation">
            <%@name_dict.each do |id, name|%>
                <% count = 0 %>
                <%if @done_writer_dict[id].present?%>
                    <% @done_writer_dict[id].each do |o|%>
                        <% count += 1 %>
                    <% end %>
                <% end %>
                <ul>
                    <li>
                        <a class="col-md-12" href="#" onclick="swap('<%= name %>'+'done');return false;">
                            <p class="col-md-8 writer-label"><%= name %> </p>
                            <p id="<%= name.delete(' ') + 'ajax' + 'done' %>" class="col-md-4 writer-label"><%= count.to_s + " tasks"%></p>
                        </a>
                        <%if @done_writer_dict[id].present?%>
                            <ul id="<%= name + 'done'%>" style="display: none;">
                                <% @done_writer_dict[id].each do |o|%>
                                  <%if o.oppty.present?%>
                                    <li id="<%= o.id%>" class="col-md-12">
                                        <h5 class="col-md-11"><%= link_to o.oppty.opptyName, o.oppty%></h5>
                                        <img id="delete-btn-manager-3" class="btn-x-manager" onclick="confirmDeleteManager(<%= o.id %>, <%= name.delete(' ') + 'ajax' + 'done'%>, 3)" src="/assets/redx.png" alt="X" border="0"/>
                                    </li>
                                   <%end%>
                                <%end%>
                            </ul>
                        <%end%>
                    </li>
                </ul>
                <!-- update the color of writer block depending upon the number of tasks for a specific writer -->
                <script> changeTasksColor(<%=count%>, "<%= name.delete(' ') + 'ajax' + 'done' %>") </script>
            <%end%>
        </div>
	</div>
</div>

</div>

</body>

</html>
