<html lang="en">
  <head>
    <title>Statistics</title>
  </head>
  <body>
    <div class="jumbotron col-md-11">
      <div class="chart-container col-md-10">
        <h2 class="chart-title">RFP per Month</h2>
        <div id="chartdiv"></div>
      </div>
      <div class="selector-container col-md-2">
        <p class="selector-label">Select Year: </p>
        <div>
          <select class="selector">
            <option value="2015">2015</option>
          </select>
          <a href="#" class="btn btn-info btn-lg glyphicon selector-button">&#xe092;</a>
        </div>
      </div>
    </div>

    <!-- JavaScript Includes -->
    <%= javascript_include_tag('amcharts.js') %>
    <%= javascript_include_tag('serial.js') %>
    <%= javascript_include_tag('light.js') %>
    <%= javascript_include_tag('dataloader.min.js') %>
    <%= javascript_include_tag('chart.js') %>

    <script>
      var chartdata = [ {
        "Month": "January",
        "proposals": <%=@months[0]%>
      }, {
        "Month": "February",
        "proposals": <%=@months[1]%>
      }, {
        "Month": "March",
        "proposals": <%=@months[2]%>
      }, {
        "Month": "April",
        "proposals": <%=@months[3]%>
      }, {
        "Month": "May",
        "proposals": <%=@months[4]%>
      }, {
        "Month": "June",
        "proposals": <%=@months[5]%>
      }, {
        "Month": "July",
        "proposals": <%=@months[6]%>
      }, {
        "Month": "August",
        "proposals": <%=@months[7]%>
      }, {
        "Month": "September",
        "proposals": <%=@months[8]%>
      }, {
        "Month": "October",
        "proposals": <%=@months[9]%>
      }, {
        "Month": "November",
        "proposals": <%=@months[10]%>
      }, {
        "Month": "December",
        "proposals": <%=@months[11]%>
      }]

      var chart = AmCharts.makeChart( "chartdiv", {
      "type": "serial",
      "theme": "light",
      "dataProvider": chartdata,
      "valueAxes": [ {
        "gridColor": "#8E8E8E",
        "gridAlpha": 0.3,
        "dashLength": 0,
        "minimum": 0
      } ],
      "gridAboveGraphs": true,
      "startDuration": 1,
      "graphs": [ {
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillAlphas": 0.8,
        "lineAlpha": 0.2,
        "type": "column",
        "valueField": "proposals"
      } ],
      "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
      },
      "categoryField": "Month",
      "categoryAxis": {
        "gridPosition": "start",
        "gridAlpha": 0,
        "tickPosition": "start",
        "tickLength": 20
      },
      "export": {
        "enabled": true
      }
    } );

    function createClass(name,rules){
        var style = document.createElement('style');
        style.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(style);
        if(!(style.sheet||{}).insertRule) 
            (style.styleSheet || style.sheet).addRule(name, rules);
        else
            style.sheet.insertRule(name+"{"+rules+"}",0);
    }
    createClass('html body #chartdiv div.amcharts-main-div div.amcharts-chart-div a',"visibility: hidden !important;");
    </script>
  </body>
</html>

