<html lang="en">
  <head>
    <title>Statistics</title>
  </head>
  <body>
    <div class="jumbotron col-md-11">
      <div class="chart-container col-md-10">
        <h2 class="chart-title" id="chart-title">Request for Proposals by Month</h2>
        <div id="chartdiv"></div>
      </div>
      <div class="selector-container col-md-2">
        <div class="selector-year-container">
          <p class="selector-label">Select Year:</p>
          <div>
            <select class="selector">
              <option value="1">All</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
            </select>
            <a href="#" class="btn btn-info btn-lg glyphicon selector-button">&#xe092;</a>
          </div>  
        </div>
        <br>
        <div class="graph-selector">
          <p class="selector-label selector-label-graph">Select Graph: </p>
            <ul class="select-list">
              <li class="select-list-item"><a href="#rfp" name="rfpByMonths" class="select-list-text">RFP by Months</a></li>
              <li class="select-list-item"><a href="#mils" name="milsByMonths" class="select-list-text">Millions Awarded by Month</a></li>
            </ul>
        </div>
      </div>
    </div>

    <!-- JavaScript Includes -->
    <%= javascript_include_tag('amcharts.js') %>
    <%= javascript_include_tag('serial.js') %>
    <%= javascript_include_tag('light.js') %>
    <%= javascript_include_tag('dataloader.min.js') %>
    <%= javascript_include_tag('chart.js') %>

    <!-- Render the chart -->
    <script>
      /* Default to the RFP by rfpMonths graph */
      var chartdata = [ {
        "Month": "January",
        "proposals": <%=@rfpMonths[0]%>
      }, {
        "Month": "February",
        "proposals": <%=@rfpMonths[1]%>
      }, {
        "Month": "March",
        "proposals": <%=@rfpMonths[2]%>
      }, {
        "Month": "April",
        "proposals": <%=@rfpMonths[3]%>
      }, {
        "Month": "May",
        "proposals": <%=@rfpMonths[4]%>
      }, {
        "Month": "June",
        "proposals": <%=@rfpMonths[5]%>
      }, {
        "Month": "July",
        "proposals": <%=@rfpMonths[6]%>
      }, {
        "Month": "August",
        "proposals": <%=@rfpMonths[7]%>
      }, {
        "Month": "September",
        "proposals": <%=@rfpMonths[8]%>
      }, {
        "Month": "October",
        "proposals": <%=@rfpMonths[9]%>
      }, {
        "Month": "November",
        "proposals": <%=@rfpMonths[10]%>
      }, {
        "Month": "December",
        "proposals": <%=@rfpMonths[11]%>
      }]

      var chart = AmCharts.makeChart( "chartdiv", {
      "type": "serial",
      "theme": "light",
      "dataProvider": chartdata,
      "valueAxes": [ {
        "gridColor": "#8E8E8E",
        "gridAlpha": 0.3,
        "dashLength": 0,
        "minimum": 0,
        "title": "# of RFPs"
      } ],
      "gridAboveGraphs": true,
      "startDuration": 1,
      "graphs": [ {
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillAlphas": 0.8,
        "lineAlpha": 0.2,
        "type": "column",
        "valueField": "proposals"
      } ],
      "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
      },
      "categoryField": "Month",
      "categoryAxis": {
        "gridPosition": "start",
        "gridAlpha": 0,
        "tickPosition": "start",
        "tickLength": 20
      },
      "export": {
        "enabled": true
      }
      });

      /* Select the RFP by rfpMonths graph */
      $(document).on("click","a[name='rfpByMonths']", function (e) {
        document.getElementById("chart-title").innerHTML = "Request for Proposals by Month";
        var chartdata = [ {
        "Month": "January",
        "proposals": <%=@rfpMonths[0]%>
      }, {
        "Month": "February",
        "proposals": <%=@rfpMonths[1]%>
      }, {
        "Month": "March",
        "proposals": <%=@rfpMonths[2]%>
      }, {
        "Month": "April",
        "proposals": <%=@rfpMonths[3]%>
      }, {
        "Month": "May",
        "proposals": <%=@rfpMonths[4]%>
      }, {
        "Month": "June",
        "proposals": <%=@rfpMonths[5]%>
      }, {
        "Month": "July",
        "proposals": <%=@rfpMonths[6]%>
      }, {
        "Month": "August",
        "proposals": <%=@rfpMonths[7]%>
      }, {
        "Month": "September",
        "proposals": <%=@rfpMonths[8]%>
      }, {
        "Month": "October",
        "proposals": <%=@rfpMonths[9]%>
      }, {
        "Month": "November",
        "proposals": <%=@rfpMonths[10]%>
      }, {
        "Month": "December",
        "proposals": <%=@rfpMonths[11]%>
      }]

      var chart = AmCharts.makeChart( "chartdiv", {
      "type": "serial",
      "theme": "light",
      "dataProvider": chartdata,
      "valueAxes": [ {
        "gridColor": "#8E8E8E",
        "gridAlpha": 0.3,
        "dashLength": 0,
        "minimum": 0,
        "title": "# of RFPs"
      } ],
      "gridAboveGraphs": true,
      "startDuration": 1,
      "graphs": [ {
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillAlphas": 0.8,
        "lineAlpha": 0.2,
        "type": "column",
        "valueField": "proposals"
      } ],
      "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
      },
      "categoryField": "Month",
      "categoryAxis": {
        "gridPosition": "start",
        "gridAlpha": 0,
        "tickPosition": "start",
        "tickLength": 20
      },
      "export": {
        "enabled": true
      }
    } );
    });

      /* Select the Millions of Dollars by rfpMonths graph */
      $(document).on("click","a[name='milsByMonths']", function (e) {
        document.getElementById("chart-title").innerHTML = "Millions $ Awarded by Month";
        var chartdata = [ {
        "Month": "January",
        "proposals": <%=@milMonths[0]%>
      }, {
        "Month": "February",
        "proposals": <%=@milMonths[1]%>
      }, {
        "Month": "March",
        "proposals": <%=@milMonths[2]%>
      }, {
        "Month": "April",
        "proposals": <%=@milMonths[3]%>
      }, {
        "Month": "May",
        "proposals": <%=@milMonths[4]%>
      }, {
        "Month": "June",
        "proposals": <%=@milMonths[5]%>
      }, {
        "Month": "July",
        "proposals": <%=@milMonths[6]%>
      }, {
        "Month": "August",
        "proposals": <%=@milMonths[7]%>
      }, {
        "Month": "September",
        "proposals": <%=@milMonths[8]%>
      }, {
        "Month": "October",
        "proposals": <%=@milMonths[9]%>
      }, {
        "Month": "November",
        "proposals": <%=@milMonths[10]%>
      }, {
        "Month": "December",
        "proposals": <%=@milMonths[11]%>
      }]

      var chart = AmCharts.makeChart( "chartdiv", {
      "type": "serial",
      "theme": "light",
      "dataProvider": chartdata,
      "valueAxes": [ {
        "gridColor": "#8E8E8E",
        "gridAlpha": 0.3,
        "dashLength": 0,
        "minimum": 0,
        "title": "Millions of $"
      } ],
      "gridAboveGraphs": true,
      "startDuration": 1,
      "graphs": [ {
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillAlphas": 0.8,
        "lineAlpha": 0.2,
        "type": "column",
        "valueField": "proposals"
      } ],
      "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
      },
      "categoryField": "Month",
      "categoryAxis": {
        "gridPosition": "start",
        "gridAlpha": 0,
        "tickPosition": "start",
        "tickLength": 20
      },
      "export": {
        "enabled": true
      }
    } );
    });

    function createClass(name,rules){
        var style = document.createElement('style');
        style.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(style);
        if(!(style.sheet||{}).insertRule) 
            (style.styleSheet || style.sheet).addRule(name, rules);
        else
            style.sheet.insertRule(name+"{"+rules+"}",0);
    }
    createClass('html body #chartdiv div.amcharts-main-div div.amcharts-chart-div a',"visibility: hidden !important;");
    </script>
  </body>
</html>

