<p id="notice"><%= notice %></p>

<p>
  <strong>Opptyname:</strong>
  <%= @history.opptyName %>
</p>

<p>
  <strong>Opptyid:</strong>
  <%= @history.opptyId %>
</p>

<p>
  <strong>Oppty:</strong>
  <%= @history.oppty %>
</p>

<p>
  <strong>User:</strong>
  <%= @history.user %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
