<%= form_for(@oppty) do |f| %>
  <% if @oppty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@oppty.errors.count, "error") %> prohibited this oppty from being saved:</h2>

      <ul>
      <% @oppty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"SL Director"  %><br>
    <%= f.text_field :slDir %>
  </div>
  <div class="field">
    <%= f.label :"Lead Estimator" %><br>
    <%= f.text_field :leadEstim %>
  </div>
  <div class="field">
    <%= f.label :Engaged %><br>
    <%= f.text_field :engaged %>
  </div>
  <div class="field">
    <%= f.label :Solution %><br>
    <%= f.text_field :solution %>
  </div>
  <div class="field">
    <%= f.label :Estimate %><br>
    <%= f.text_field :estimate %>
  </div>
    <div class="field">
      <%= f.label :"SL Architecture" %><br>
      <%= f.text_field :slArch%>
    </div>
  <div class="field">
    <%= f.label :"SL Comments" %><br>
    <%= f.text_field :slComments %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
