<h1>Listing oppties</h1>

<table>
  <thead>
    <tr>
      <th>Opptyid</th>
      <th>Opptyname</th>
      <th>Idiqca</th>
      <th>Status2</th>
      <th>Value</th>
      <th>Pwin</th>
      <th>Capturemgr</th>
      <th>Programmgr</th>
      <th>Proposalmgr</th>
      <th>Sslorg</th>
      <th>Technicallead</th>
      <th>Sslarch</th>
      <th>Ed</th>
      <th>On</th>
      <th>Ate</th>
      <th>Slcomments</th>
      <th>Rfpdate</th>
      <th>Awarddate</th>
      <th>Submitdate</th>
      <th>Numwriters</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oppties.each do |oppty| %>
      <tr>
        <td><%= oppty.opptyId %></td>
        <td><%= oppty.opptyName %></td>
        <td><%= oppty.idiqCA %></td>
        <td><%= oppty.status2 %></td>
        <td><%= oppty.value %></td>
        <td><%= oppty.pWin %></td>
        <td><%= oppty.captureMgr %></td>
        <td><%= oppty.programMgr %></td>
        <td><%= oppty.proposalMgr %></td>
        <td><%= oppty.sslOrg %></td>
        <td><%= oppty.technicalLead %></td>
        <td><%= oppty.sslArch %></td>
        <td><%= oppty.ed %></td>
        <td><%= oppty.on %></td>
        <td><%= oppty.ate %></td>
        <td><%= oppty.slComments %></td>
        <td><%= oppty.rfpDate %></td>
        <td><%= oppty.awardDate %></td>
        <td><%= oppty.submitDate %></td>
        <td><%= oppty.numWriters %></td>
        <td><%= link_to 'Show', oppty %></td>
        <td><%= link_to 'Edit', edit_oppty_path(oppty) %></td>
        <td><%= link_to 'Destroy', oppty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oppty', new_oppty_path %>
