<p id="notice"><%= notice %></p>

<p>
  <strong>Opptyid:</strong>
  <%= @oppty.opptyId %>
</p>

<p>
  <strong>Opptyname:</strong>
  <%= @oppty.opptyName %>
</p>

<p>
  <strong>Idiqca:</strong>
  <%= @oppty.idiqCA %>
</p>

<p>
  <strong>Status2:</strong>
  <%= @oppty.status2 %>
</p>

<p>
  <strong>Value:</strong>
  <%= @oppty.value %>
</p>

<p>
  <strong>Pwin:</strong>
  <%= @oppty.pWin %>
</p>

<p>
  <strong>Capturemgr:</strong>
  <%= @oppty.captureMgr %>
</p>

<p>
  <strong>Programmgr:</strong>
  <%= @oppty.programMgr %>
</p>

<p>
  <strong>Proposalmgr:</strong>
  <%= @oppty.proposalMgr %>
</p>

<p>
  <strong>Sslorg:</strong>
  <%= @oppty.sslOrg %>
</p>

<p>
  <strong>Technicallead:</strong>
  <%= @oppty.technicalLead %>
</p>

<p>
  <strong>Sslarch:</strong>
  <%= @oppty.sslArch %>
</p>

<p>
  <strong>Ed:</strong>
  <%= @oppty.ed %>
</p>

<p>
  <strong>On:</strong>
  <%= @oppty.on %>
</p>

<p>
  <strong>Ate:</strong>
  <%= @oppty.ate %>
</p>

<p>
  <strong>Slcomments:</strong>
  <%= @oppty.slComments %>
</p>

<p>
  <strong>Rfpdate:</strong>
  <%= @oppty.rfpDate %>
</p>

<p>
  <strong>Awarddate:</strong>
  <%= @oppty.awardDate %>
</p>

<p>
  <strong>Submitdate:</strong>
  <%= @oppty.submitDate %>
</p>

<p>
  <strong>Numwriters:</strong>
  <%= @oppty.numWriters %>
</p>

<%= link_to 'Edit', edit_oppty_path(@oppty) %> |
<%= link_to 'Back', url_for(:back) %>
<%if session[:role]=="writer" %>
    <%= button_to 'Add', user_oppties_path(oppty_id: @oppty.id) %>
<%end%>
<%if session[:role]=="manager" %>
    <%= button_to 'Assign', user_oppties_path(oppty_id: @oppty.id) %>
<%end%>