<html lang="en">
<body>
  <div class="jumbotron">
    <div class="upper-search-box">
      <div class="inner-search-bar col-md-12">
        <table cellpadding="0px" cellspacing="0px" class="col-md-12">
          <tr style="font-size:24px;">
            <td class="col-md-1"></td>
            <td class="col-md-10" style="padding-top: 15px !important;">
              <%= form_tag(browse_index_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search" %>
                <input id="search-button" class="btn-search" type="image" style="width: 4% !important;" src="/assets/search.png" alt="Submit_tag"> 
                <td class="col-md-1"></td>
              <% end %>
            </td>
          </tr>
        </table>

        <!-- Radio Buttons in Browse page to limit the search to opportunities within 30, 60, or 90 days -->
          <table class="form col-md-12">
            <tr>
                <td class="col-md-1">
                  <label class="black-text field-label" style="padding-left: 101px;">
                    Within:
                  </label>
                </td>

                <td class="col-md-1">
                  <div>
                    <div class="toggle-btn radio black-text" id="within" name="within">
                      <input id="thirty_days_left" name="limiting" type="radio" value="30">30 Days
                      <br>
                   
                      <input id="sixty_days_left" name="limiting" type="radio" value="60">60 Days
                      <br>
                       
                      <input id="ninety_days_left" name="limiting" type="radio" value="90">90 Days
                      <br>
                       
                      <input id="all-days" name="limiting" type="radio" value="999999" checked="true">90+ Days
                    </div> 
                    <td>
                      <a href="#" name="radio-style-btn" class="btn btn-info btn-lg glyphicon selector-button control-label-button">&#xe092;</a>
                    </td>
                  </div>
                </td>

                <td class="col-md-2">
                  <label class="black-text field-label" style="padding-left:50px;">
                    Invalid Field:
                  </label>
                </td>

                <td class="col-md-2">
                    <div>
                      <select class="selector col-md-10" id="invalidDiv" name="invalidDiv">
                        <option id="allInvalidFields" value="all">all</option>
                        <option id="rfpDateField" value="rfpDate">RFP Date</option>
                        <option id="leadEstimField" value="leadEstim">Lead Estimator</option>
                        <option id="technicalLeadField" value="technicalLead">Technical Lead</option>
                        <option id="slDirField" value="slDir">Service Line Director</option>
                        <option id="slArchField" value="slArch">Solution Architect</option>
                        <option id="sllOrgField" value="sllOrg">Service Line Lead Organization</option>
                      </select>
                      <td>
                        <a href="#" name="invalid-btn" class="btn btn-info btn-lg glyphicon selector-button control-label-button">&#xe092;</a>
                      </td>
                    </div>  
                  </td>
                <!--<td colspan=1>
                  <div>
                    <div class="toggle-btn radio black-text" id="invalidDiv" name="invalidDiv">
                      <div class="row">
                        <div class="col-md-6" style="padding-right:10px !important;">
                          <input id="allInvalidFields" name="invalid" type="radio" value="all" checked="true">All
                          <br>

                          <input id="rfpDateField" name="invalid" type="radio" value="rfpDate">RFP Date
                          <br>
                    
                          <input id="leadEstimField" name="invalid" type="radio" value="leadEstim">Lead Estimator
                          <br>
                           
                          <input id="technicalLeadField" name="invalid" type="radio" value="technicalLead">Technical Lead
                          <br>
                        </div>
                        <div class="col-md-6" style="padding-right:10px !important;">
                          <input id="slDirField" name="invalid" type="radio" value="slDir">Service Line Director
                          <br>

                          <input id="slArchField" name="invalid" type="radio" value="slArch">Solution Architect
                          <br>

                          <input id="sllOrgField" name="invalid" type="radio" value="sllOrg">Service Line Lead Organization
                          <br>
                        </div>
                      </div>
                    </div> 
                    <td>
                      <a href="#" name="invalid-btn" class="btn btn-info btn-lg glyphicon selector-button control-label-button">&#xe092;</a>
                    </td>
                  </div>
                </td> -->

              <!-- drop down menu in Browse Page to sort the opportunities by a specific field -->
                <td class="col-md-2">
                  <label class="black-text sort-dropdown-label">
                    Sort By:
                  </label>
                </td>
                  <td class="col-md-2">
                    <div>
                      <select class="selector col-md-10" id="sorting" name="sorting">
                        <option id="opt1" value="none">none</option>
                        <option id="opt2" value="opptyName">Opportunity Name</option>
                        <option id="opt3" value="opptyId">Opportunity ID</option>
                        <option id="opt4" value="proposalDueDate">Days Left</option>
                        <option id="opt5" value="captureMgr">Capture Managers</option>
                        <option id="opt6" value="programMgr">Program Managers</option>
                        <option id="opt7" value="proposalMgr">Proposal Managers</option>
                        <option id="opt8" value="value">Value</option>
                      </select>
                      <td>
                        <a href="#" name="sort-btn" class="btn btn-info btn-lg glyphicon selector-button">&#xe092;</a>
                      </td>
                    </div>  
                  </td>
                  <td class="col-md-1"></td>
            </tr>
          </table>
      </div>        
      <br>
    </div>

    <h2 class="black-text browse-page-title">Opportunities</h2>

    <div class="row" style="font-weight: bold;">
      <div class="col-md-2" style="text-align: center;"> Opportunity ID </div>
      <div class="col-md-6"> Opportunity Name </div>
      <div class="col-md-2"> Due Date </div>
      <div class="col-md-2"> Invalid Field(s) </div>
    </div>

    <hr />

    <div id="allDays">
      <% unless @oppties == nil %>
        <% @oppties.each do |o| %>
          <div class="media row">
            <div class="col-md-2" style="text-align: center;"><%= o.opptyId %></div>
            <div class="col-md-6">
              <div class="regular-text a:visited"><%= link_to o.opptyName, o %></div>
              <div class="little-text"><%= o.slComments %></div>
            </div>
            <div class="col-md-2"><%= o.proposalDueDate.to_s %></div>
            <div class="col-md-2">
              <% if o.rfpDate < Date.today and (o.status2 == "P1-ID/Track" or o.status2 ==  "P2-Qualification" or o.status2 == "P3-Pursuit") %>
                <div class="regular-text"><%= "(RFP Date: " + o.rfpDate.to_s + " and status2: " + o.status2 + ")" %></div>
              <% end %>

              <% if o.technicalLead == "TBD" %>
                <div class="regular-text"><%= "(Technical Lead: " + o.technicalLead + ")" %></div>
              <% elsif o.technicalLead == "" %>
                <div class="regular-text"><%= "(Technical Lead: none)" %></div>
              <% end %>

              <% if o.slDir == "TBD" %>
                <div class="regular-text"><%= "(Service Line Director: " + o.slDir + ")" %></div>
              <% elsif o.slDir == "" %>
                <div class="regular-text"><%= "(Service Line Director: none)" %></div>
              <% end %>

              <% if o.slArch == "TBD" %>
                <div class="regular-text"><%= "(Solution Architect: " + o.slArch + ")" %></div>
              <% elsif o.slArch == "" %>
                <div class="regular-text"><%= "(Solution Architect: none)" %></div>
              <% end %>

              <% if o.leadEstim == "TBD" %>
                <div class="regular-text"><%= "(Lead Estimator: " + o.leadEstim + ")" %></div>
              <% elsif o.leadEstim == "" %>
                <div class="regular-text"><%= "(Lead Estimator: none)" %></div>
              <% end %>

              <% if o.sllOrg == "SWI" and o.swi_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and swi_va: $" + o.swi_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "SWI" and o.swi_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and swi_va: none)" %></div>
              <% elsif o.sllOrg == "TSS" and o.tss_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and tss_va: $" + o.tss_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "TSS" and o.tss_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and tss_va: none)" %></div>
              <% elsif o.sllOrg == "ITMS" and o.itms_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and itms_va: $" + o.itms_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "ITMS" and o.itms_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and itms_va: none)" %></div>
              <% elsif o.sllOrg == "MSS" and o.mss_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and mss_va: $" + o.mss_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "MSS" and o.mss_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and mss_va: none)" %></div>
              <% elsif o.sllOrg == "HWI" and o.hwi_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and hwi_va: $" + o.hwi_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "HWI" and o.hwi_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and hwi_va: none)" %></div>
              <% elsif o.sllOrg == "CCDS" and o.ccds_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and ccds_va: $" + o.ccds_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "CCDS" and o.ccds_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and ccds_va: none)" %></div>
              <% elsif o.sllOrg == "LSC" and o.lsc_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and lsc_va: $" + o.lsc_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "LSC" and o.lsc_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and lsc_va: none)" %></div>
              <% elsif o.sllOrg == "NWI" and o.nwi_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and nwi_va: $" + o.nwi_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "NWI" and o.nwi_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and nwi_va: none)" %></div>
              <% elsif o.sllOrg == "SSS" and o.sss_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and sss_va: $" + o.sss_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "SSS" and o.sss_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and sss_va: none)" %></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <div style="float: right !important;">
        <div name="paginate-div"><%= will_paginate @oppties, previous_label: h("<"), next_label: h(">") %></div>
      </div>

    </div>
  </div>

  <script>

    function createClass(name,rules){
      var style = document.createElement('style');
      style.type = 'text/css';
      document.getElementsByTagName('head')[0].appendChild(style);
      if(!(style.sheet||{}).insertRule) 
        (style.styleSheet || style.sheet).addRule(name, rules);
      else
        style.sheet.insertRule(name+"{"+rules+"}",0);
     }
     createClass('html body div div div.inner-search-bar.col-md-12 table.col-md-12 tbody tr td.col-md-10 form#search-form input#search',"width: 96% !important; padding-left: 10px !important;");


     $(document).on("click", "a[name='radio-style-btn']", function (e) {
      var radioButtons = $("#within input:radio[name='limiting']");
      var selectedIndex = radioButtons.index(radioButtons.filter(':checked'));
      select = document.getElementsByName('limiting')[selectedIndex].value;
      url = window.location.href;
      if (window.location.href.indexOf('?') > -1) {
        urlSplit = url.split('?');
        if (urlSplit[1].indexOf('&') > -1) {
          diffParts = urlSplit[1].split('&');
          
          if (diffParts.length > 1) 
            newUrl = urlSplit[0]+'?';
          else
            newUrl = urlSplit[0];

          if (urlSplit[1].indexOf('within') == -1 && select != "999999") {
            if (urlSplit[1].indexOf('page') == -1)
              newUrl = url + "&within=" + select;
            else
              newUrl = urlSplit[0]+ "?within=" + select;
          }
          else {
            for (i = 0; i < diffParts.length; i++) {
              if (diffParts[i].indexOf('within') == -1 && diffParts[i].indexOf('page') == -1) {
                if (i != diffParts.length-1)
                  newUrl += diffParts[i]+'&';
                else
                  newUrl += diffParts[i];
              }
              else if (diffParts[i].indexOf('within') > -1) {
                if ( select != "999999") {
                  if (i != diffParts.length-1)
                    newUrl += "within="+select+'&';
                  else
                    newUrl += "within="+select;
                }
              }
            }
          }
        }
        else if (urlSplit[1].indexOf('within') > -1 && select != "999999")
          newUrl = urlSplit[0]+ "?within=" + select;
        else if (urlSplit[1].indexOf('within') > -1 && select == "999999")
          newUrl = urlSplit[0];
        else if (urlSplit[1].indexOf('within') == -1)
          newUrl = window.location.toString() + "&within=" + select;

        if (newUrl.substring(newUrl.length-1) == '&')
          newUrl = newUrl.substring(0, newUrl.length-1);

        window.location = newUrl;
      }
      else if (select != "999999") {
        newUrl = window.location.toString();

        if (newUrl.substring(newUrl.length-1) == '&')
          newUrl = newUrl.substring(0, newUrl.length-1);

        window.location = newUrl + "?within=" + select;
      }
      else {
        newUrl = window.location.toString();

        if (newUrl.substring(newUrl.length-1) == '&')
          newUrl = newUrl.substring(0, newUrl.length-1);

        window.location = newUrl;
      }
    }); 


    $(document).on("click", "a[name='invalid-btn']", function (e) {
      select = document.getElementById('invalidDiv').value;
      url = window.location.href;
      if (window.location.href.indexOf('?') > -1) {
        urlSplit = url.split('?');
        if (urlSplit[1].indexOf('&') > -1) {
          diffParts = urlSplit[1].split('&');
          
          if (diffParts.length > 1) 
            newUrl = urlSplit[0]+'?';
          else
            newUrl = urlSplit[0];

          if (urlSplit[1].indexOf('invalid') == -1 && select != "all") {
            if (urlSplit[1].indexOf('page') == -1)
              newUrl = url + "&invalid=" + select;
            else
              newUrl = urlSplit[0]+'?'+ "invalid=" + select;
          }
          else {
            for (i = 0; i < diffParts.length; i++) {
              if (diffParts[i].indexOf('invalid') == -1 && diffParts[i].indexOf('page') == -1) {
                if (i != diffParts.length-1)
                  newUrl += diffParts[i]+'&';
                else
                  newUrl += diffParts[i];
              }
              else if (diffParts[i].indexOf('invalid') > -1) {
                if ( select != "all") {
                  if (i != diffParts.length-1)
                    newUrl += "invalid="+select+'&';
                  else
                    newUrl += "invalid="+select;
                }
              }
            }
          }
        }
        else if (urlSplit[1].indexOf('invalid') > -1 && select != "all")
          newUrl = urlSplit[0]+ "?invalid=" + select;
        else if (urlSplit[1].indexOf('invalid') > -1 && select == "all")
          newUrl = urlSplit[0];
        else if (urlSplit[1].indexOf('invalid') == -1)
          newUrl = window.location.toString() + "&invalid=" + select;

        if (newUrl.substring(newUrl.length-1) == '&')
          newUrl = newUrl.substring(0, newUrl.length-1);

        window.location = newUrl;
      }
      else if (select != "all") {
        newUrl = window.location.toString();

        if (newUrl.substring(newUrl.length-1) == '&')
          newUrl = newUrl.substring(0, newUrl.length-1);

        window.location = newUrl + "?invalid=" + select;
      }
      else {
        newUrl = window.location.toString();

        if (newUrl.substring(newUrl.length-1) == '&')
          newUrl = newUrl.substring(0, newUrl.length-1);

        window.location = newUrl;
      }
    }); 

    $(document).on("click", "a[name='sort-btn']", function (e) {
      select = document.getElementById('sorting').value;
      url = window.location.href;
      if (window.location.href.indexOf('?') > -1) {
        urlSplit = url.split('?');
        if (urlSplit[1].indexOf('&') > -1) {
          diffParts = urlSplit[1].split('&');

          if (diffParts.length > 1) 
            newUrl = urlSplit[0]+'?';
          else
            newUrl = urlSplit[0];

          if (urlSplit[1].indexOf('sort') == -1 && select != "none") 
            newUrl = url + "&sort=" + select;
          else {
            for (i = 0; i < diffParts.length; i++) {
              if (diffParts[i].indexOf('sort') == -1) {
                if (i != diffParts.length-1)
                  newUrl += diffParts[i]+'&';
                else
                  newUrl += diffParts[i];
              }
              else if (diffParts[i].indexOf('sort') > -1) {
                if ( select != "none") {
                  if (i != diffParts.length-1)
                    newUrl += "sort="+select+'&';
                  else
                    newUrl += "sort="+select;
                }
              }
            }
          }
        }
        else if (urlSplit[1].indexOf('sort') > -1 && select != "none")
          newUrl = urlSplit[0]+ "?sort=" + select;
        else if (urlSplit[1].indexOf('sort') > -1 && select == "none")
          newUrl = urlSplit[0];
        else if (urlSplit[1].indexOf('sort') == -1)
          newUrl = window.location.toString() + "&sort=" + select;

        if (newUrl.substring(newUrl.length-1) == '&')
          newUrl = newUrl.substring(0, newUrl.length-1);

        window.location = newUrl;
      }
      else if (select != "none") {
        newUrl = window.location.toString();

        if (newUrl.substring(newUrl.length-1) == '&')
          newUrl = newUrl.substring(0, newUrl.length-1);

        window.location = newUrl + "?sort=" + select;
      }
      else { 
        newUrl = window.location.toString();

        if (newUrl.substring(newUrl.length-1) == '&')
          newUrl = newUrl.substring(0, newUrl.length-1);

        window.location = newUrl;
      }
    });

    window.onload = function() {

      if (window.location.href.indexOf("within") > -1) {
        if (window.location.href.indexOf("within=30") > -1)
          document.getElementById("thirty_days_left").checked = true;
        else if (window.location.href.indexOf("within=60") > -1)
          document.getElementById("sixty_days_left").checked = true;
        else if (window.location.href.indexOf("within=90") > -1)
          document.getElementById("ninety_days_left").checked = true;
        else
          document.getElementById("all_days").checked = true;
      }

      if (window.location.href.indexOf("sort")) {
        if (window.location.href.indexOf("opptyName") > -1)
          document.getElementById("opt2").selected = true;
        else if (window.location.href.indexOf("opptyId") > -1)
          document.getElementById("opt3").selected = true;
        else if (window.location.href.indexOf("proposalDueDate") > -1)
          document.getElementById("opt4").selected = true;
        else if (window.location.href.indexOf("captureMgr") > -1)
          document.getElementById("opt5").selected = true;
        else if (window.location.href.indexOf("programMgr") > -1)
          document.getElementById("opt6").selected = true;
        else if (window.location.href.indexOf("proposalMgr") > -1)
          document.getElementById("opt7").selected = true;
        else if (window.location.href.indexOf("value") > -1)
          document.getElementById("opt8").selected = true;
        else
          document.getElementById("opt1").selected = true;
      }

      if (window.location.href.indexOf("invalid")) {
        if (window.location.href.indexOf("rfpDate") > -1)
          document.getElementById("rfpDateField").selected = true;
        else if (window.location.href.indexOf("leadEstim") > -1)
          document.getElementById("leadEstimField").selected = true;
        else if (window.location.href.indexOf("technicalLead") > -1)
          document.getElementById("technicalLeadField").selected = true;
        else if (window.location.href.indexOf("slDir") > -1)
          document.getElementById("slDirField").selected = true;
        else if (window.location.href.indexOf("slArch") > -1)
          document.getElementById("slArchField").selected = true;
        else if (window.location.href.indexOf("sllOrg") > -1)
          document.getElementById("sllOrgField").selected = true;
        else
          document.getElementById("allInvalidFields").selected = true;
      }
    }

  </script>

</body>
</html>
