<html lang="en">
<body>
  <div class="jumbotron" style="border-radius: 5px !important;">
    <div class="upper-search-box">
      <div class="inner-search-bar col-md-12" style="width:100% !important; border-top-left-radius: 5px !important; border-top-right-radius: 5px !important;">
        <table cellpadding="0px" cellspacing="0px" class="col-md-12">
          <tr style="font-size:24px;">
            <td class="col-md-1"></td>
            <td class="col-md-10" style="padding-top: 15px !important;">
              <%= form_tag(browse_index_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search],
                                   placeholder: "Search Within Opportunity Name, ID, Code Name, or Customer Group",
                                   id: 'opptyTextField',
                                   onkeyup: "searchOppty()"%>
                <input id="search-button" class="btn-search" type="image" style="width: 4% !important;" src="/assets/search.png" alt="Submit_tag"> 
                <td class="col-md-1"></td>
              <% end %>
            </td>
          </tr>
        </table>

        <!-- Radio Buttons in Browse page to limit the search to opportunities within 30, 60, or 90 days -->
        <table class="form col-md-12">
          <tr>
            <td class="col-md-1">
              <label class="black-text field-label" style="padding-left: 101px;">
                Within:
              </label>
            </td>

            <td class="col-md-1">
              <div>
                <div class="toggle-btn radio black-text" id="within" name="within">
                  <input id="thirty_days_left" name="limiting" type="radio" value="30">30 Days
                  <br>
                   
                  <input id="sixty_days_left" name="limiting" type="radio" value="60">60 Days
                  <br>
                       
                  <input id="ninety_days_left" name="limiting" type="radio" value="90">90 Days
                  <br>
                       
                  <input id="all-days" name="limiting" type="radio" value="999999" checked="true">90+ Days

                </div> 

              </div>
            </td>

            <td class="col-md-2">
              <label class="black-text field-label" style="padding-left:50px;">
                Invalid Field:
              </label>
            </td>

            <td class="col-md-2">
              <div>
                <select class="selector col-md-10" id="invalidDiv" name="invalidDiv">
                  <option id="allInvalidFields" value="all">all</option>
                  <option id="rfpDateField" value="rfpDate">RFP Date</option>
                  <option id="leadEstimField" value="leadEstim">Lead Estimator</option>
                  <option id="technicalLeadField" value="technicalLead">Technical Lead</option>
                  <option id="slDirField" value="slDir">Service Line Director</option>
                  <option id="slArchField" value="slArch">Solution Architect</option>
                  <option id="sllOrgField" value="sllOrg">Service Line Lead Organization</option>
                </select>
              </div>  
            </td>

            <!-- drop down menu in Browse Page to sort the opportunities by a specific field -->
            <td class="col-md-2">
              <label class="black-text sort-dropdown-label">
                Sort By:
              </label>
            </td>
            <td class="col-md-2">
              <div>
                <select class="selector col-md-10" id="sorting" name="sorting">
                  <option id="opt1" value="none">none</option>
                  <option id="opt2" value="opptyName">Opportunity Name</option>
                  <option id="opt3" value="opptyId">Opportunity ID</option>
                  <option id="opt4" value="proposalDueDate">Days Left</option>
                  <option id="opt5" value="captureMgr">Capture Managers</option>
                  <option id="opt6" value="programMgr">Program Managers</option>
                  <option id="opt7" value="proposalMgr">Proposal Managers</option>
                  <option id="opt8" value="value">Value</option>
                </select>
              </div>  
            </td>
            <td class="col-md-1">
              <label class="black-text sort-dropdown-label">
                SL Director:
              </label>
            </td>
            <td class="col-md-2">
              <div>
                <select class="selector col-md-10" id="filter" name="filter">
                  <option id="allSlDir" value="all">all</option>
                  <% @allSlDir.each do |n| %>

                    <option id="<%= n.delete(' ') %>" value="<%= n %>"><%= n %></option>
                  <% end %>
                </select>
              </div>
            </td>
            <td class="col-md-1"></td>
          </tr>
        </table>
      </div>        
      <br>
    </div>

    <h2 class="black-text browse-page-title">Opportunities</h2>

    <div class="row" style="font-weight: bold;">
      <div class="col-md-2" style="text-align: center;"> Opportunity ID </div>
      <div class="col-md-6"> Opportunity Name </div>
      <div class="col-md-2" style="text-align: center;"> Proposal Due Date </div>
      <div class="col-md-2"> Invalid Field(s) </div>
    </div>

    <hr/>

    <div id="allDays">
      <% unless @oppties == nil %>
        <% @oppties.each do |o| %>
          <div class="media row">
            <div class="col-md-2" style="text-align: center;"><%= o.opptyId %></div>
            <div class="col-md-6">
              <div class="regular-text a:visited"><%= link_to o.opptyName, o %></div>
              <div class="little-text"><%= o.slComments %></div>
            </div>
            <div class="col-md-2" style="text-align: center;"><%= o.proposalDueDate.to_s %></div>
            <div class="col-md-2">
              <% if o.rfpDate < Date.today and (o.status2 == "P1-ID/Track" or o.status2 ==  "P2-Qualification" or o.status2 == "P3-Pursuit") %>
                <div class="regular-text"><%= "(RFP Date: " + o.rfpDate.to_s + " and status2: " + o.status2 + ")" %></div>
              <% end %>

              <% if o.technicalLead == "TBD" or o.technicalLead == ""%>
                <div class="regular-text"><%= "(Technical Lead: none)" %></div>
              <% end %>

              <% if o.slDir == "TBD" or o.slDir == "" %>
                <div class="regular-text"><%= "(Service Line Director: none)" %></div>
              <% end %>

              <% if o.slArch == "TBD" or o.slArch == ""%>
                <div class="regular-text"><%= "(Solution Architect: none)" %></div>
              <% end %>

              <% if o.leadEstim == "TBD" or o.leadEstim == ""%>
                <div class="regular-text"><%= "(Lead Estimator: none)" %></div>
              <% end %>

              <% if o.sllOrg == "SWI" and o.swi_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and swi_va: $" + o.swi_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "SWI" and o.swi_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and swi_va: none)" %></div>
              <% elsif o.sllOrg == "TSS" and o.tss_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and tss_va: $" + o.tss_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "TSS" and o.tss_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and tss_va: none)" %></div>
              <% elsif o.sllOrg == "ITMS" and o.itms_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and itms_va: $" + o.itms_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "ITMS" and o.itms_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and itms_va: none)" %></div>
              <% elsif o.sllOrg == "MSS" and o.mss_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and mss_va: $" + o.mss_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "MSS" and o.mss_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and mss_va: none)" %></div>
              <% elsif o.sllOrg == "HWI" and o.hwi_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and hwi_va: $" + o.hwi_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "HWI" and o.hwi_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and hwi_va: none)" %></div>
              <% elsif o.sllOrg == "CCDS" and o.ccds_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and ccds_va: $" + o.ccds_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "CCDS" and o.ccds_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and ccds_va: none)" %></div>
              <% elsif o.sllOrg == "LSC" and o.lsc_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and lsc_va: $" + o.lsc_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "LSC" and o.lsc_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and lsc_va: none)" %></div>
              <% elsif o.sllOrg == "NWI" and o.nwi_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and nwi_va: $" + o.nwi_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "NWI" and o.nwi_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and nwi_va: none)" %></div>
              <% elsif o.sllOrg == "SSS" and o.sss_va == 0.0 %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and sss_va: $" + o.sss_va.to_s + ")" %></div>
              <% elsif o.sllOrg == "SSS" and o.sss_va == "" %>
                <div class="regular-text"><%= "(SLL Organization: " + o.sllOrg + " and sss_va: none)" %></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div style="float: right !important;">
      <div name="paginate-div"><%= will_paginate @oppties, previous_label: h("<"), next_label: h(">") %></div>
    </div>

  </div>
</body>
</html>
