<!DOCTYPE html>
<html>
<head>
  <title>CrmManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="home">
  <%= favicon_link_tag '/favicon.ico' %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <%= javascript_include_tag('bootstrap-notify.min.js') %>
  <%= javascript_include_tag('jquery.growl.js') %>
</head>
<body class='<%=controller.controller_name%>'>
  <!-- Static navbar -->
  <%if session[:user_id] %>
  <nav class="navbar navbar-default navbar-static-top" style="max-height: 50px !important;">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <img class="nav-logo" src="/assets/saic-logo-social-small-grey.png" height="50" width="108">
        <ul class="nav navbar-nav">
          <%if session[:role]=="Writer" %>
            <li class="tab nav-tasks"><a href=<%= tasks_index_path%>>Assigned Tasks</a></li>
            <li class="tab nav-browse"><a href=<%= browse_index_path%> >Browse</a></li>
          <%end%>
          <%if session[:role]=="Manager" %>
            <li class="tab nav-allocated_tasks"><a href=<%= allocated_tasks_index_path%>>Allocated Tasks</a></li>
            <li class="tab nav-browse"><a href=<%= browse_index_path%>>Browse</a></li>
            <li class="tab nav-crm"><a href=<%= crm_index_path%>>Upload CRM</a></li>
            <li class="tab nav-statistics"><a href=<%= statistics_index_path%>>Statistics</a></li>
          <%end%>
          <li class="tab nav-histories"><a href=<%= histories_path%>>History</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="username"><a>Welcome <%=session[:username] %></a></li>
          <li class="tab nav-notifications">
            <div id="accordion">
              <a href="javascript:;"><img src="/assets/notif-bell-2.png" name="notificationIcon" height="30" width="30" style="padding-bottom: 3px;"></a>
              <div class="content">  SOME CONTENT HERE </div>
            </div>  
          </li>
          <li><a href=<%=sessions_destroy_path %>>Logout</a><li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <%end%>
<%= yield %>

<style type="text/css">
.nav-<%=controller.controller_name%> {
  background-color: #e7e7e7;
}

.ui-accordion .ui-accordion-content {padding-left: 0 !important;}   
</style>

<script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      active: false
    });
  });

  /* creates style rule programmatically after triangle logo exists */
  function createClass(name,rules){
      var style = document.createElement('style');
      style.type = 'text/css';
      document.getElementsByTagName('head')[0].appendChild(style);
      if(!(style.sheet||{}).insertRule) 
          (style.styleSheet || style.sheet).addRule(name, rules);
      else
          style.sheet.insertRule(name+"{"+rules+"}",0);
  }

  /* hides the triangle right logo */
  createClass('html body nav div #navbar ul li  #accordion #ui-id-1 span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e',"display: none !important;");
  /* hides the triangle down logo */
  createClass('html body nav div #navbar ul li  #accordion #ui-id-1 span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s',"display: none !important;");
  /* notification icon spacing */
  createClass('html body nav div #navbar ul li  #accordion a#ui-id-1.ui-accordion-header.ui-state-default.ui-accordion-icons.ui-corner-top',"padding-left: .5em !important;");
  /* notification icon spacing */
  createClass('html body nav div #navbar ul li  #accordion a#ui-id-1.ui-accordion-header.ui-state-default.ui-accordion-icons.ui-corner-all',"padding-left: .5em !important;");
  /* notification icon spacing */
  createClass('html body nav div #navbar ul li  #accordion a#ui-id-1.ui-accordion-header.ui-state-default.ui-accordion-icons.ui-accordion-header-active.ui-state-active.ui-corner-top',"padding-left: .5em !important;");
  /* notification icon background */
  createClass('html body nav div #navbar ul li  #accordion a#ui-id-1.ui-accordion-header.ui-state-default.ui-corner-all.ui-accordion-icons',"background-color: #f7f7f7 !important; border: 0px solid black !important;  background-image: none !important;");
</script>

</body>
</html>