<!DOCTYPE html>
<html>
<head>
  <title>CrmManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="home">
  <link rel="icon" href="assets/favicon.ico">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body class='<%=controller.controller_name%>'>
<head>
  <!-- Static navbar -->
  <%if session[:user_id] %>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <img class="nav-logo" src="/assets/saic-logo-social-small-grey.png" height="50" width="108">
        <ul class="nav navbar-nav">
          <%if session[:role]=="writer" %>
            <li><a href=<%= tasks_index_path%>>Assigned Tasks</a></li>
            <li><a href=<%= browse_index_path%> >Browse</a></li>
          <%end%>
          <%if session[:role]=="manager" %>
              <li ><a href=<%= allocated_tasks_index_path%>>Allocated Tasks</a></li>
              <li><a href=<%= browse_index_path%> >Browse</a></li>
              <li><a href=<%= invalid_data_index_path%>>Invalid Data</a></li>
              <li><a href=<%= upload_crm_index_path%>>Upload CRM</a></li>
              <li><a href=<%= statistics_index_path%>>Statistics</a></li>
          <%end%>
          <li><a href=<%= history_index_path%>>History</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ><a>Welcome <%=session[:username] %></a></li>
          <li><a href="./notifications.html"><img src="/assets/notif-bell-2.png" height="30" width="30"></a></li>
          <li><a href=<%=sessions_destroy_path %>>Logout</a><li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <%end%>
<%= yield %>
</body>
</html>
