<!DOCTYPE html>
<html>
<head>
  <title>CrmManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="home">
  <%= favicon_link_tag '/favicon.ico' %>

  <%= stylesheet_link_tag "bootstrap.min.css", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag('html5shiv.min.js') %>
  <%= javascript_include_tag('respond.min.js') %>
</head>

<body class='<%=controller.controller_name%>'>
<!-- Static navbar -->
<%if session[:user_id] %>
    <nav class="navbar navbar-default navbar-static-top" style="max-height: 50px !important;">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <img class="nav-logo" src="/assets/saic-logo-social-small-grey.png" height="50" width="108">
          <ul class="nav navbar-nav">
            <%if session[:role]=="Writer" %>
                <li class="tab nav-tasks"><a href=<%= tasks_index_path%>>Assigned Tasks</a></li>
                <li class="tab nav-browse"><a href=<%= browse_index_path%> >Browse</a></li>
            <%end%>
            <%if session[:role]=="Manager" %>
                <li class="tab nav-allocated_tasks"><a href=<%= allocated_tasks_index_path%>>Allocated Tasks</a></li>
                <li class="tab nav-browse"><a href=<%= browse_index_path%>>Browse</a></li>
                <li class="tab nav-crm"><a href=<%= crm_index_path%>>Upload CRM</a></li>
                <li class="tab nav-statistics"><a href=<%= statistics_index_path%>>Statistics</a></li>
            <%end%>
            <li class="tab nav-histories"><a href=<%= histories_path%>>History</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="username"><a>Welcome <%=session[:username] %></a></li>
            <li class="tab dropdown" style="max-height: 50px !important;">
              <a onclick="resetNotification(<%= session[:user_id]%>,'<%=application_resetNotification_url%>')"
                 class="dropdown-toggle nav-notifications" data-toggle="dropdown" style="max-height: 50px !important;
                      padding-top: 10px !important;">
                <img src="/assets/notif-bell-2.png" name="notificationIcon" height="35" width="35" style="padding-bottom: 4px;"
                </img>
                <%if @num_unseen_notification>0%>
                    <div id="circle"><%=@num_unseen_notification %></div>
                <%end%>
              </a>
              <div class="dropdown-menu"  style="position: absolute !important; top: 49px !important; right: -25px !important; min-width: 300px !important;">
                <ul id="notification-scroll" class="notification-scroll">
                <% if @notifications.size > 0 %>
                    <% @notifications.reverse_each do |n| %>
                        <li onclick="sendFromNotification('<%= n.title%>', '<%= n.oppty_id %>', '<%= @notif_hash[n.oppty_id] %>')" 
                          class="notification-feed" style="padding-bottom: 15px !important; cursor: pointer;">
                          <a href="#">
                            <p class="notify-title"><b><%=n.title%></b> <a class="notify-creation-date" style="float: right;"><%=n.created_at.to_date%></a><p>
                            <p><%=n.message%></p>
                          </a>
                        </li>
                    <%end%>
                <%else%>
                    <li style="text-align: center; padding-left: 10px !important;">No Notifications</li>
                <%end%>
              </ul>
              </div>
            </li>
            <li class="nav-logout"><a href=<%=sessions_destroy_path %>>Logout</a><li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<%end%>
<%= yield %>

<style type="text/css">
    .nav-<%=controller.controller_name%> {
        background-color: #e7e7e7;
    }

    .notification-feed {
        padding-left: 5px;
        padding-right: 5px;
    }

    .notify-creation-date {
        color: black;
    }

    .notify-title {
        color: #005DA0;
    }

    .notification-feed:hover {
        background-color: #e7e7e7 !important;
    }

    .nav-logout:hover {
        background-color: #e7e7e7 !important;
    }
</style>

<%= javascript_include_tag('jquery.slimscroll.min.js') %>

<script>
    $(function(){
        $('#notification-scroll').slimScroll({
            height: '330px',
            width: '300px'
        });
    });

    function sendFromNotification(notify_title, oppty_id, isInOppties) {
        /* Redirect to different places depending on the notification title */
        if (notify_title == "RFP Date Changed") {
            console.log("RFP Date Changed");
            console.log("val: " + isInOppties);
            if (isInOppties  == "true") {
                console.log("inside");
                window.location = "/oppties/" + oppty_id;
            } 
            else {
                console.log("outside");
                window.location = "/histories/" + oppty_id;
            } 
        } else if (notify_title == "Opportunity Moved To History") {
            console.log("Opportunity Moved To History");
            window.location = "/histories/" + oppty_id;
        } else if (notify_title == "Assigned To Task") {
            console.log("Assigned To Task");
            if (<%=session[:role] %> == "Writer") {
              window.location = "/tasks/index";
            } else {
              window.location = "/allocated_tasks/index";
            }
        }    
    }

    function resetNotification(user_id, path){
        var notify_div=document.getElementById('circle');
        if(notify_div!=null)
            notify_div.remove();
        var params = "{'user_id':"+user_id+"}";
        params=params.replace(/'/g, '"');

        //AJAX request
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("Content-Type", "application/x-www-form-urlencoded");
        xmlHttp.open("Content-length", params.length);
        xmlHttp.open("Connection", "close");
        xmlHttp.open( "Post", path, true );
        xmlHttp.send(params);
    }
</script>

</body>
</html>